/****公共导航****/
#header {
  width: 100%;
  height: 60px;
  background-color: #181C1F;
  min-width: 1200px;
  overflow: hidden;
}

nav {
  width: 1200px;
  height: 100%;
  color: #fff;
  margin: 0 auto;
}
nav p,nav .navbar a{
  line-height: 60px;
}

/*左侧logo+导航*/
.logo {
  display: block;
  width: 100px;
  height: 32px;
  margin-right: 15px;
  margin-top: 15px;
  box-sizing: content-box;
}

.logo a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 1;
}

.nav-location {
  cursor: pointer;
  width: 80px;
  height: 60px;
  //position: relative;
}

.nav-location > p {
  padding: 0 15px;
}

.nav-location .icon-down {
  position: absolute;
  right: 15px;
  top: 25px;
  width: 10px;
  height: 10px;
  background: url("/static/images/icon-select-down.png") no-repeat center;
}

.navbar li {
  float: left;
  height: 100%;
  text-align: center;
}

.navbar li a {
  display: block;
  color: #fff;
  padding: 0 20px;
  height: 100%;
}

.navbar li a:hover,
.navbar li.current a, .navbar li.router-link-active a {
  background-color: #fff;
  color: #000;
}



.tools{
  li{
    float: left;
    height: 14px;
    line-height: 14px;
    font-size: 14px;
    margin: 23px 0;
    position: relative;
    &.phone{
      padding: 0 12px;
      font-size: 12px;
    }
    a{
      padding: 0 12px;
      color: #fff;
      i{
        display: block;
        width: 2px;
        height: 12px;
        background: #393e40;
        position: absolute;
        right: 0;
        top: 1px
      }
    }
  }
}
.logreg{
  padding: 0 20px;
  a{
    color: #fff;
    font-size: 12px;
    height: 12px;
    line-height: 12px;
    padding: 0 5px;
    margin: 24px 0;
  }
}
.aboutlist{
  height: 12px;
  line-height: 12px;
  font-size: 12px;
  margin: 23px 0;
  padding-left: 17px;
  position: relative;
  i{
    font-size: 12px;
    position: absolute;
    left: 0;
    top: 1px;
    font-family: PingFangSC-Medium;
    color: #ff0038;
  }
  a{
    color: #fff;
  }
}


.dorpdown:hover .city-dorpdown{
  display: block;
}
.city-dorpdown{
  display: none;
  width: 335px;
  background-color: #fff;
  position: absolute;
  padding: 12px 18px;
  z-index: 1000;
  box-shadow: 1px 6px 8px 0 rgba(0, 0, 0, 0.2);
  margin-left: -15px;
  a{
    color: #666;
    padding: 6px 15px;
    display: inline-block;
    line-height: 12px;
    font-size: 12px;
  }
  span.active{
    color: #AA2C3C;
  }
  .common-city,.hot-city{
    margin: 0 -13px;
  }
  .hot-city{
    padding: 6px 0;
  }
  .common-city{
    padding: 6px 0;
  }
}
.border-line{
  border-top: 1px dashed #B1B4B8;
}
.city-choose.dorpdown{
  //transition: all linear .2s;
  width: auto;
  margin-left: 20px;
  &:hover{
    background-color: #fff;
    color: #000;
    i{
      border-top: 5px solid #000;

      transform:rotate(180deg);
      -ms-transform:rotate(180deg); 	/* IE 9 */
      -moz-transform:rotate(180deg); 	/* Firefox */
      -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
      -o-transform:rotate(180deg);
    }
  }
  i{
    color: #000;
    border-top: 5px solid #fff;
    position: absolute;
    top:50%;
    margin-top: -2px;
    right: 0;
    transition: all linear 0s;
  }
  padding: 0 15px;
  p{
    margin-right: 20px;
  }
}

