.view,#app{
  height: 100%;
  width: 100%;
}
.content{
  padding: 20px;
  background-color: #fff;
  position: fixed;
  top: 90px;
  left: 30px;
  width: 440px;
  .price{
    .title{
      span{
        &:first-child{
          font-size: 14px;
          color: #999999;
          line-height: 14px;
        }
        &:last-child{
          font-size: 14px;
          color: #181C1F;
          line-height: 14px;
          margin-left: 10px;
        }
      }
    }
  }
  .price-slider{
    margin-top: 20px;
  }
}