.site-search-bar{
    width: 100%;
    padding: 15px 0;
    background: #f5f5f5;
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.05);
}
.search-bar .show{
  display: block;
  width: 548px;
  height: 42px;
  overflow: hidden;
}
.search-bar .show img{
  width: 100%;
  height: 100%;
}

/***热门标签***/
.hot-tags{
  margin-top: 15px;
  dt{
    font-size: 16px;
    color: #999;
    padding-right: 15px;
    .icon{
      font-size: 15px;
      margin-right: 5px;
      margin-top: 4px;
      color: #cbcbcb;
    }
    .cutoff-rule{
      margin-left: 30px;
      color: #dcdcdc;
    }
  }
  dd{
    a{
      color: #999;
      padding: 0 15px;
    }
    a:hover{
      color: #AA2C3C;
    }
  }
}

.section{
  margin-top: 50px;
  .item-title{
    margin-bottom: 10px;
  }
}

/*tab切换*/
.itembox{
  .tab-box{
    .cont{
      display: none;
    }
    .current{
      display: block;
    }
  }
}

.site-menu{
  li{
    float: left;
    margin-right: 40px;
    height: 24px;
    line-height: 24px;
    font-size: 24px;
    color: #999;
    text-align: center;
    padding-bottom: 12px;
    box-sizing: content-box;
    cursor: pointer;
  }
  .current{
    color: #181C1F;
    border-bottom: 2px solid #AA2C3C;
    margin-bottom: -1px;
    a{
      color: #AA2C3C;
    }
  }
}
.site-item{
  .site-cont{
    .box{
      float: left;
      width: 386px;
      height: 257px;
      margin-right: 20px;
      margin-top: 20px;
      background: #eee;
      position: relative;
      a{
        display: block;
        width: 100%;
        height: 100%;
        color: #fff;
        p{
          display: inline-block;
          width: 70%;
          height: 36px;
          line-height: 36px;
          padding: 0 20px;
          text-align: center;
          font-size: 16px;
          background: rgba(0,0,0,0.60);
          position: absolute;
          left: 15%;
          top: 110px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }

  /*场地首页*/
  .site-cont-index{
    position: relative;
    .box:nth-of-type(3),
    .box:nth-of-type(7){
      margin-right: 0;
    }
    .box:nth-of-type(4){
      margin-left: 812px;
    }
    .box-more{
      width: 792px;
      height: 257px;
      position: absolute;
      left: 0;
      top: 297px;
      background: #eee;
    }
  }

  /*场地列表*/
  .site-title-list{
    border-bottom: none;
    .model-change{
      .btn-model{
        width: 24px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        background: #e6e6e6;
        border-radius: 2px;
        margin-left: 10px;
        color: #bebebe;
        font-size: 23px;
        cursor: pointer;
      }
      .current{
        background: #AA2C3C;
        color: #fff;
      }
    }
  }
  .site-cont-list{
    padding-bottom: 20px;
    .box-list{
      .box:nth-child(3n){
        margin-right: 0;
      }

      /**列表模式**/
      .box-list-box{
        float: left;
        width: 100%;
        height: 226px;
        padding: 16px 20px;
        border: 1px solid #e8eaec;
        margin-top: 20px;
        .img{
          width: 292px;
          height: 100%;
          margin-right: 16px;
        }
        .text{
          width: 670px;
          height: 100%;
          overflow: hidden;
          position: relative;
          h3{
            font-size: 20px;
            line-height: 20px;
            margin-bottom: 27px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            a{
              color: #4b4b4e;
            }
          }
          p{
            font-size: 14px;
            line-height: 14px;
            color: #8F949C;
          }
          .assort{
            margin-bottom: 8px;
            p{
              float: left;
              padding-right: 52px;
              position: relative;
              .line{
                display: inline-block;
                width: 2px;
                height: 9px;
                background: #DEE1E6;
                position: absolute;
                top: 3px;
                right: 25px;
              }
            }
          }
          .keywords{
            font-size: 12px;
            line-height: 12px;
            margin-top: 27px;
          }
          .btn{
            width: 156px;
            height: 37px;
            line-height: 37px;
            position: absolute;
            left: 0;
            bottom: 0;
            color: #fff;
          }
        }

        .price{
          text-align: right;
          p{
            font-size: 12px;
            height: 24px;
            line-height: 24px;
            color: #484B4E;
            margin-bottom: 2px;
            strong{
              font-size: 24px;
            }
          }
          span{
            display: block;
            font-size: 12px;
            height: 12px;
            line-height: 12px;
            color: #999;
          }
        }
      }
    }
  }
}


/***热推场地***/
.hot-site{
  li{
    float: left;
    width: 285px;
    height: 190px;
    margin-right: 20px;
    margin-top: 20px;
    background: #eee;
    position: relative;
    a{
      display: block;
      width: 100%;
      height: 100%;
      p{
        width: 100%;
        height: 36px;
        line-height: 36px;
        color: #fff;
        background: rgba(0,0,0,0.50);
        padding: 0 10px;
        position: absolute;
        left: 0;
        bottom: 0;
        transition: all .5s;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    a:hover p{
      height: 40px;
    }
  }
  li:nth-child(4n){
    margin-right: 0;
  }
}

/***精选分类***/
.selected-site {
  .citysubject{
    margin: 30px 0 50px;
    position: relative;
    .cont {
      width: 100%;
      height: 256px;
      min-width: 1200px;
      overflow: hidden;
      position: relative;
      .swiper-slide{
        background-color: #fff;
        position: relative;
      }
      .swiper-container{
        overflow: visible;
      }
      .citySelection{
        .swiper-slide{
          a{
            display: block;
            width: 100%;
            height: 100%;
          }
          a:after{
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,.2);
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
          }
          img{
            display: block;
            width: 100%;
            height: 100%;
            background: #aaa;
          }
          p{
            width: 100%;
            height: 30px;
            line-height: 30px;
            text-align: center;
            font-size:18px;
            color:#fff;
            position: absolute;
            z-index: 2;
            left: 0;
            top: 50%;
            margin-top: -15px;
            text-shadow: 1px 1px 3px #000;
          }
        }
      }
    }
  }
}

/***标签***/
.tags{
  margin-top: 40px;
  a{
    color: #666;
    font-size: 12px;
    padding: 0 12px;
    height: 26px;
    line-height: 26px;
    margin-right: 20px;
    margin-bottom: 8px;
  }
  .active{
    color: #fff;
    background: #AA2C3C;
  }
}









