.banner-swiper img{
  //height: 500px;
  width: 100%;
  display: block;
  height:615px;
}
.site-dtl-left{
  width: 860px;
  padding: 0 18px;
  background-color: #fff;
  float: left;
  border: 1px solid #E9EBEC;
  margin-bottom: 50px;
  .site-wrap .site-cont{
    .box-list{
      padding: 0 12px;
    }
    .box-list-box{
      position: relative;
      height: 216px;
      box-shadow: 0 0 8px 0 rgba(0,0,0,0.20);
      &:first-child{
        margin-top: 0;
      }
    }
    width: auto;
    .box-list-box .text h3{
      margin-bottom: 10px;
    }
    .details{
      margin-bottom: 20px;
      font-size: 12px;
      color: #484B4E;
      line-height: 16px;
      width: 466px;
    }
    .box-list-box .price{
      text-align: left;
      position: relative;
    }
    .assort{
      margin-bottom: 20px;
    }
    .btn-op{
      position: absolute;
      right: 0px;
      bottom: -20px;
      button{
        position: relative;
        float: left;
        height: 36px;
        font-size: 12px;
        &:first-child{
          width: 112px;
        }
        &:last-child{
          width: 90px;
        }
      }
    }
  }
  .site-wrap .site-cont .box-list .box-list-box .text{
    width: 490px;
  }
  h1{
    padding: 28px 0;
    font-size: 20px;
    line-height: 20px;
  }
  .base-info{
    .title{
      font-size: 14px;
      color: #8DA3BE;
      line-height: 14px;
      margin-bottom: 18px;
      i{
        margin-right: 10px;
      }
    }
    .piece{
      width: 274px;
      float: left;
      padding-right: 20px;
    }
    .base-inner{
      margin-bottom: 10px;
      p{
        float: left;
        color: #999;
        max-width: 204px;
        font-size: 12px;
      }
      p.gan{
        padding: 0 6px;
      }
    }
  }
  .site-map{
    width: 804px;
    height: 345px;
  }
}
body{
  background-color: #fbfbfb!important;
}
.banner{
  margin-bottom: 38px;
}
.title-dtl{
  border-left: 2px solid #666;
  font-size: 14px;
  color: #666666;
  line-height: 14px;
  padding-left: 10px;
  margin-bottom: 30px;
}
.supporting-img{
  padding: 0 10px;
  margin: 0 -12px;
  margin-bottom: 30px;
  .piece{
    &.active{
      .icon-img{
        background-color: #DDE9F9;
        i{
          color: #5C8BC4;
        }
      }
    }
    width: 73px;
    float: left;
    .icon-img{
      margin-bottom: 4px;
      width: 48px;
      height: 48px;
      margin-left: 12px;
      background-color: #ECECEC;
      border-radius: 8px;
      text-align: center;
      line-height: 48px;
      font-size: 22px;
      i{
        color: #bbb;
      }
    }
    p{
      font-size: 12px;
      color: #666666;
      text-align: center;
    }
  }
}
.site-info{
  font-size: 12px;
  color: #666;
  padding: 0 12px;
  line-height: 20px;
}
.site-dtl-right{
  width: 310px;
  float: right;
  .site-dtl.item-title{
    border: 0;
    margin-bottom: 12px;
    h2{
      font-size: 18px;
      color: #181C1F;
      line-height: 18px;
      padding-left: 9px;
      .redline{
        height: 16px;
        width: 3px;
        top: 1px;
      }
    }
  }
}
.price-op{
  background-color: #fff;
  padding: 18px;
  border: 1px solid #E9EBEC;
  margin-bottom: 20px;
  .price-dtl{
    p{
      &:first-child{
        span{
          color: #AFB1B4;
          font-size: 12px;
          line-height: 12px;
          &.active{
            color: #AA2C3C;
          }
          &:last-child{
            float: right;
            i{
              margin-right: 5px;
              vertical-align: -1px;
            }
          }
        }
      }
      &:last-child{
        padding-bottom: 10px;
        padding-top: 15px;
        border-bottom: 1px dashed #ddd;
        font{
          font-size: 12px;
          color: #1E0000;
          line-height: 20px;
        }
        span{
          &:first-child{
            font-size: 20px;
            color: #484B4E;
            line-height: 20px;
          }
          &:last-child{
            font-size: 12px;
            color: #999999;
            line-height: 12px;
            margin-left: 15px;
          }
        }
      }
    }
  }
  .price-tel{
    font-size: 12px;
    color: #666666;
    line-height: 12px;
    i{
      padding-right: 10px;
      font-size: 10px;
    }
  }
}
.btn-op{
  padding: 15px 0px;
  button{
    float: left;
    &:first-child{
      width: 156px;
      height: 40px;
    }
    &:last-child{
      height: 40px;
      width: 105px;
      border-radius: 4px;
      background-color: #fff;
      border: 1px solid #181C1F;
      margin-left: 10px;
    }
  }
}
.event-case{
  margin-bottom: 20px;
  background-color: #fff;
  padding: 0 18px;
  ul{
    li{
      position: relative;
      height: 102px;
      padding: 14px 0;
      border-bottom: 1px dashed #DDDDDD;
      &:last-child{
        border:0;
      }
      a.text{
        padding-right: 100px;
        font-size: 12px;
        color: #000000;
        padding-top: 8px;

      }
      img{
        background-color: #ddd;
        position: absolute;
        right: 0;
        top:14px;
        width: 72px;
        height: 72px;
      }
    }
  }
}
img{
  background-color: #ddd;
}
.hot-site{
  background-color: #fff;
  padding: 18px;
  margin-bottom: 20px;
  ul{
    li{
      margin-bottom: 14px;
      &:last-child{
        margin-bottom: 0;
      }
      a{
        position: relative;
        display: block;
        img{
          height: 177px;
          width: 100%;
          display: block;
        }
        p{
          position: absolute;
          border-bottom: 0;
          font-size: 12px;
          color: #FFFFFF;
          background-color: rgba(0,0,0,.6);
          height: 36px;
          line-height: 36px;
          bottom: 0;
          left: 0;
          right: 0;
          padding: 0 10px;
          overflow: hidden;white-space: nowrap;text-overflow: ellipsis;
        }
      }
    }
  }
}
.supporting-services{
  padding: 18px 20px;
  background-color: #fff;
  ul{
    margin: 0 -7px;
    margin-bottom: -15px;
    li{
      width: 94px;
      float: left;
      padding: 0 7px;
      margin-bottom: 15px;
      &.active{
        p{
          color: #AA2C3C;
        }
        .bor{
          border: 1px solid #AA2C3C;
          i{
            color: #AA2C3C;
          }
        }
      }
      .bor{
        height: 80px;
        width: 100%;
        border: 1px solid #DDDFE2;
        text-align: center;
        margin-bottom: 8px;
        i{
          font-size: 44px;
          color: #666;
          line-height: 80px;
        }
      }
      p{
        color: #666;
        text-align: center;
      }

    }
  }
}