.banner-swiper img{
  //height: 500px;
  width: 100%;
  display: block;
  height:615px;
}
.site-dtl-left{
  width: 860px;
  padding: 0 18px;
  background-color: #fff;
  h1{
    padding: 28px 0;
    font-size: 20px;
    line-height: 20px;
  }
}
body #app{
  background-color: #fbfbfb;
}